{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react$",
    "^react/(.*)$",
    "^next(/.*)?$",
    "^(node:|fs|path|crypto|os|util|events|http|https|url|zlib|stream)(/.*)?$",
    "^@?\\w",
    "^@api/(.*)$",
    "^@middleware/(.*)$",
    "^@config/(.*)$",
    "^@db/(.*)$",
    "^@services/(.*)$",
    "^@types/(.*)$",
    "^@components/(.*)$",
    "^@pages/(.*)$",
    "^@hooks/(.*)$",
    "^@utils/(.*)$",
    "^@styles/(.*)$",
    "^@.*",
    "^\\.\\.(?!/?$).*",
    "^\\.\\./?$",
    "^\\./(?!/?$).*",
    "^\\./?$",
    "^.*\\.(css|scss|sass|less)$",
    "^.*\\.(svg|png|jpe?g|gif|webp|avif)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx"],
  "overrides": [
    {
      "files": ["*.json", "*.yml"],
      "options": { "printWidth": 80 }
    }
  ]
}
