paths:
  /roles:
    get:
      tags:
        - roles
      summary: List roles
      operationId: getRoles
      responses:
        '200':
          description: Roles fetched
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '../../docs/openapi.yaml#/components/schemas/Role'
    post:
      tags:
        - roles
      summary: Create role
      description: Creates a new role.
      operationId: createRole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
              required:
                - name
      responses:
        '201':
          description: Role created
          content:
            application/json:
              schema:
                type: object
                properties:
                  role:
                    $ref: '../../docs/openapi.yaml#/components/schemas/Role'

  /roles/{roleId}:
    parameters:
      - name: roleId
        in: path
        required: true
        description: ID of the role
        schema:
          type: integer
          format: int64
    delete:
      tags:
        - roles
      summary: Delete role
      description: Deletes a role (Admins only).
      operationId: deleteRole
      responses:
        '204':
          description: Role deleted

  /roles/{roleId}/user:
    parameters:
      - name: roleId
        in: path
        required: true
        description: ID of the role
        schema:
          type: integer
          format: int64
    put:
      tags:
        - roles
      summary: Assign user to role
      description: Assigns a user to a role (Admins only).
      operationId: assignUserToRole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: integer
                  format: int64
              required:
                - userId
      responses:
        '204':
          description: User assigned
    delete:
      tags:
        - roles
      summary: Remove user from role
      description: Removes the user assignment from the role (Admins only).
      operationId: removeUserFromRole
      responses:
        '204':
          description: User removed
